<mat-toolbar color="warn">
  <mat-toolbar-row>
    <p class="display-5" style="cursor: pointer;">Shaz Hoopla</p>
    <span class="example-spacer"></span>
    <span>Hey {{username}} <mat-icon>mood</mat-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button name="orders" (click)="orders()">Orders</button>
    <button mat-button name="logout" (click)="logout()">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>
<div style="background-color: bisque;">
<div class="row" >
  <div class="col-md-1 col-lg-1 col-sm-1">
    <button mat-button (click)="fetchAllProd()">
    <span style="font-size:25px;color:orangered;">All</span></button>
  </div>
      <div class="col-md-1 col-lg-1 col-sm-1">
        <button mat-button (click)="getprods('Electronics')">
        <span style="font-size:25px;color:orangered;">Electronics</span></button>
      </div>
      <div class="col-md-1 col-lg-1 col-sm-1" style="margin-left:60px">
        <button mat-button (click)="getprods('Shoes')">
        <span style="font-size:25px;color:orangered;;">Shoes</span></button>
    </div>
        <div class="col-md-1 col-lg-1 col-sm-1">
            <button mat-button (click)="getprods('Furniture')">
        <span style="font-size:25px;color:orangered;">Furniture</span></button></div>
        <div class="col-md-1 col-lg-1 col-sm-1" style="margin-left:60px">
            <button mat-button (click)="getprods('Clothing')">
        <span style="font-size:25px;color:orangered;">Clothing</span></button></div>
        <div class="col-md-4 col-sm-4 col-lg-4 offset-md-2 offset-lg-2 offset-sm-2">
            <mat-form-field style="margin-left:200px">
              <input type="text" [(ngModel)]="name" matInput placeholder="Search here" (input)="searchProd()"> 
            </mat-form-field>
            <mat-icon>search</mat-icon>
          </div>
</div>

<div *ngIf="products">
  <div class="row container-fluid" >
    <div class="col-md-3 col-sm-3 col-lg-3 w-70 " *ngFor="let prod of products">
      <mat-card class="card ; card-header-img" style="cursor: pointer;margin-top:50px;" >
        <img mat-card-image class="card-img-top " src="./assets/img/{{prod.image}}" alt="{{prod.image}}"
         width="100px" height="280px" (click)="viewProd(prod._id)"/>
        <mat-card-content>
          <strong (click)="viewProd(prod._id)">{{prod.pName}}</strong>
          <p><strong>Rating:</strong>{{prod.pRating}}/5</p>
          <p><strong>Price:</strong><del class="text-secondary">{{prod.price|currency:"INR"}}</del>&nbsp;
            {{prod.price*(1-prod.pSeller.pDiscount)|currency:'INR'}}
          <sup class="text-info">{{prod.pSeller.pDiscount|percent}}</sup></p>
          <button mat-raised-button class="btn btn-success" (click)="buyProd(prod)" 
          *ngIf="prod.pSeller.pQuantity>0">Buy Now</button>
          <p *ngIf="successmgs && prod._id==orderedPid" class="alert alert-success">Ordered Successfully!!</p>
          <span *ngIf="prod.pSeller.pQuantity==0">
            <button mat-raised-button class="btn btn-danger" (click)="notify(prod)">Notify Me</button>&nbsp;
            <strong class="text-danger">Not in Stock!</strong>
          </span>
          <div *ngIf="notifyPid && prod._id==notifyPid" class="alert alert-danger">Notification will be sent!</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
</div>


